/* style.css */

/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
select {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #135D66; /* Zöld háttér */
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003C43; /* Sötétebb zöld háttér, ha fölé viszik a kurzort */
}

/* Táblázat stílusok */
table {
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Módosítás űrlap stílusok */
.showModifyShelf form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.showModifyShelf h3 {
    margin-top: 20px;
}

.showModifyShelf label {
    margin-bottom: 8px;
}
